html,
body {
  margin: 0;
  padding: 0;
  background-color: #2b3e50;
  overflow: hidden;
}

.content-container {
  overflow: scroll;
  height: calc(100vh - 52px);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2b3e50;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
